@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

:root {
   
    --background: #ffffff;
    --primary: #1b1b1b;
    --secondary: rgb(112, 112, 112);


    --heading: 'Oswald', sans-serif;
    --body: 'Open Sans', sans-serif;

}

.topbar {
    background-color: var(--primary);
    padding: 1em;
    /* z-index: 8000;
    position: fixed; */
    width: 100%;
    display: grid;
    grid-template-columns: 4fr auto 1rem;
    grid-template-areas:
    "logo ico menu"
    "search search search";
    column-gap: 1.5em;
    row-gap: .5em;
}
.topbar span {
    font-size: 1.2em;
}
.topbar-icons {
    grid-area: ico;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 1.5em; 
}
.topbar-icons a {
    align-items: center; 
}
.topbar-icons li {
    display: inline-block;
    justify-self: center; 
}
.topbar-icons span, .main-menu span, .search-bar span {
    color: var(--background);
}
.main-menu {
    grid-area: menu;
    /* position: relative; */
    align-self: center; 
    justify-self: end;
}
.search-bar {
    grid-area: search;
    justify-content: end; 
}
.topbar > a {
    color: var(--background);
    font-family: var(--heading);
    font-size: 1.2em;
    font-weight: 700;
    text-decoration: none;
    align-self: center;
}

/*Main menu CLEAN THIS UP OH MAN*/ 

/* .main-menu { */
    /* position: fixed;  */
    /* position: relative; */
    /* overflow: hidden;     */

    /* right: 0; 
    */

.menu-button-open {
    /* position: absolute; */
    z-index: 9999;
}
.menu-button-close {
    position: absolute; 
    z-index: 9999;
    right: .75em;
    top: .5em;
}
.fas.fa-times {
    color: var(--primary);
}
.hide-menu {
    display: none;
}
.menu-panel {
    display: block;
    position: absolute;
    z-index: 9990;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden; 
 
    
    /* position: absolute;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    right: 0;
    top: 0; */
}
.menu-items {
    display: block;
    background-color: var(--background);
    font-family: var(--heading);
    width: 100%;
    height: 100%;
    padding-top: 3em;
}

.menu-items li {
    padding: 1em;
    font-size: 1.5em;
}
.menu-items a {
    color: var(--primary);
    text-decoration: none;
}



/* .main-menu button span {
    color: var(--background);
}

.main-menu div {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
}


.menu-items {
    background-color: var(--secondary);
    position: absolute; 
    z-index: 9999;
    display: none;
    padding: 0;
    right: 0;
    width: 90vw;
    height: 100vh;
    overflow: hidden;
}
.menu-items li {
    padding: 1em 0 1em 2em;
}
.menu-items a {
    color: var(--background);
    font-family: var(--heading);
    text-decoration: none;
} */


/*Search bar*/
.bar {
    width: 100%;
    position: relative;
    display: flex;
    padding: 0;
    align-items: center; 
    justify-content: center;
}
.bar input {
    font-family: var(--body);
    border: none;
    height: 1.5em;
    text-indent: .5rem;
}
.bar button {
    background-color: var(--secondary);
    height: 1.5em;
    position: relative;
    text-align: center; 
    padding: 0 1em;
    /* align-self: center;  */

    /* padding: 0 .5em .5em 0; */
    /* position: absolute; */
    /* z-index: 1; */
    /* right: 0; */
    /* border-radius: 15%; */
}

/**************************
MAIN
**************************/

/* main {
    padding-top: 92.8px; 
} */

/*Breadcrumbs*/
.breadcrumbs {
    font-family: var(--body);
    padding: 0 1em;
}
.breadcrumbs a {
    color: var(--primary);
    text-decoration: none;
}

/*Current page*/
.page-heading {
    font-family: var(--heading);
    text-align: center; 
    font-size: 4em;
    padding: 1rem;
    display: flex;
    position: relative;
    align-items: center; 
    justify-content: center; 
    top: 0;
}
.page-title {
    color: var(--background);
    position: absolute;
    z-index: 1;
}
.page-image {
    position: relative;
    z-index: -1;
}

/*Sort and filter*/
.sort-filter {
    font-family: var(--body);
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr auto;
}
.sort-filter li {
    padding: .5em 0 .5em 2em;
}
.sort select {
    height: 2em;
}
/* .filter-colour, .filter-size, .filter-material {
    display: none;
} */
.filter button {
    justify-self: end; 
}
.filter span {
    font-size: 2em;
}
.filter-panel {
    display: none;
    position: absolute; 
    z-index: 9990;
}
.filter input[type="checkbox"] {
    display: none;
}
.filter input[type="checkbox"]:checked ~ .filter-panel {
    display: block;
}
.filter-panel {
    background-color: var(--secondary);
    color: var(--background);
    font-family: var(--heading);
    padding-left: 1em;
    width: 100vw;
    right: 0;
}
.filter-panel input[type="checkbox"]:checked + label {
    background-color: var(--primary);
    color: var(--background);
    padding: 0 1em;
}


/**********
Products
**********/
.all-products {
    padding: 1em 1em 0 1em;
}
.product {
    font-family: var(--body);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    "img img"
    "name fave"
    "pri pri"
    "descrip descrip"
    "info info"
    "buy buy";

    grid-gap: .5em;
    padding-bottom: 1.5em;
}
.product-name {
    grid-area: name;
    font-size: 1.4em;
}
.product-price {
    grid-area: pri;
}
.product-descrip {
    grid-area: descrip;
}
.product-info {
    grid-area: info;
}
.product-buy {
    grid-area: buy;
    display: grid;
    grid-gap: 1em;
    padding-top: 1em;
}
.image-container {
    grid-area: img;
    position: relative;
}
.product-image {
    padding-top: 2em;
}
.fave-button {
    grid-area: fave;
    /* opacity: 70%; */
    font-size: 1.2em;
    /* position: absolute; */
    /* z-index: 1000; */
    width: 2em;
    height: 2em;
    border-radius: 1.5em;
    right: 10px;
    bottom: 10px;
    justify-self: end;
    /* border: 1px solid var(--primary); */
    /* vertical-align: middle; */
    /* line-height: 2em; */
}
.fas.fa-heart {
    font-size: 1.2em;
}
.unfavourited {
    color: var(--primary);
    opacity: 25%;
}
.favourited {
    color: red;
    opacity: 100%;
}

.sale-tag {
    background-color: var(--primary);
    color: var(--background);
    width: 100%;
    font-family: var(--heading);
    font-weight: 700;
    text-align: center;
    position: absolute;
    top: 0;
    padding: .2em;
    border: 1px solid var(--primary);
}
.product-name, .product-price {
    font-family: var(--heading);
    font-weight: 700;
}
.product-price del {
    color: var(--secondary);
    font-weight: 500;
}
.product-price ins {
    /* color: rgb(161, 1, 1); */
    text-decoration: none;
}
.product ul strong {
    font-weight: 700;
    font-family: var(--heading);
}
.product-size legend {
    padding-bottom: .5em;
}
.product-size li {
    list-style: none;
    display: inline-block;
}
.product-size input[type="radio"] {
    display: none;
}
.product-size label {
    padding: 0 1em;
    /* margin: 0 .5em; */
    border: 1px solid var(--primary);
    font-family: var(--heading);
}
.product-size input[type="radio"]:checked + label {
    background-color: var(--secondary);
    color: var(--background);
}

.quantity-bar {
    display: flex;
    flex-direction: row;
}
.quantity-button {
    background-color: var(--secondary);
    color: var(--background);
    border: none;
    /* font-size: 1.5em; */
    padding: 0 .5em;
    height: 2em;
    width: 2em;
    /* position: absolute;  */
    margin: 0;
}
.quantity-input {
    height: 2em;
    width: 2em;
    text-align: center; 
    /* position: absolute;  */
    margin: 0;
}

.product-cart {
    background-color: var(--secondary);
    font-family: var(--heading);
    justify-self: center; 
    width: 100%; 
}
.product-cart button {
    color: var(--background);
    padding: .5em 1em;
    width: 100%;
    align-self: center; 
}

/*Product pages*/
.product-pages {
    font-family: var(--heading);
    text-align: center;
    padding: 0 1em 2em 1em;
}
.product-pages p {
    padding: 0 1em 1em 1em;
}
.product-pages ol, li {
    list-style: none;
    padding: 0;
}
.product-pages li{
    display: inline-block;
    padding: 0 .5em;
}
.product-pages a {
    color: var(--primary);
}
.current-page {
    background-color: var(--primary);
}
.current-page a {
    color: var(--background);
    text-decoration: none;
}
.inactive-page a {
    text-decoration: none;
}


/*Subscribe*/
.subscribe {
    background-color: var(--primary);
    color: var(--background);
    font-family: var(--heading);
    text-align: center; 
    padding: 1em;
}
.subscribe h3 {
    padding-bottom: 1em;
    font-size: 1.5em;
}
.subscribe-bar button {
    color: var(--background);
}

/*Footer*/
.top-footer {
    background-color: var(--primary);
    font-family: var(--heading);
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.top-footer li {
    padding: .25em 0;
}
.top-footer a  {
    color: var(--background);
    text-decoration: none;
}
.bottom-footer {
    background-color: var(--secondary);
    padding: 1em;
    text-align: center; 
}

.social-media li {
    display: inline-block;
    padding: 0 1em;
}
.social-media a {
    /* background-color: var(--background); */
    color: var(--background);
    font-size: 1.2em;
    /* padding: 1em; */
    border-radius: 1.5em;
}
/* .social-media span {
    height: .5em;
    width: .5em;
} */
.copyright {
    color: var(--background);
    font-family: var(--heading);
    padding-top: 1em;
}